@{
    Layout = "_Layout.cshtml";
}

<div class="container body-content">
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Do you blog about PowerShell? Add yourself to the aggregator by sending in a <a href="https://github.com/planetpowershell/planetpowershell">pull-request to our repository</a> on GitHub. Planet PowerShell is not affiliated with Microsoft and is a open-source project maintained by the community for the community</a>.</p>
        <script id="CookieDeclaration" src="https://consent.cookiebot.com/ec2d5883-de46-408c-bb4e-3c6e49e26e4b/cd.js" type="text/javascript" async></script>
    </footer>
</div>
