@{
    Layout = "_Layout.cshtml";
}

<div class="container body-content">
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Do you blog about PowerShell? Add yourself to the aggregator by sending in a <a href="https://github.com/planetpowershell/planetpowershell">pull-request to our repository</a> on GitHub. Planet PowerShell is not affiliated with Microsoft and is a open-source project maintained by the community for the community</a>.</p>
    </footer>
</div>